html {
  position: relative;
  min-height: 100%;

  body {
    margin-bottom: 60px;

    a[data-toggle="modal"]:focus,
    button.close[data-dismiss="modal"]:focus {
      outline: none;
    }

    label.col-form-label small,
    legend.col-form-label small {
      color: $primary;
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
      background-color: #3D3935;
    }
  }
}
