html {
  position: relative;
  min-height: 100%;

  body {
    margin-bottom: 60px;

    a.navbar-brand {
      padding: 5px 15px;

      img {
        height: 40px;
      }
    }

    .dashboard-link {
      color: #636b6f;
    }

    .dashboard-panel {
      transition: box-shadow 0.3s;
    }

    .dashboard-panel:hover {
      box-shadow: 3px 3px 3px rgba(0,0,0,.05);
    }

    .list-group-item {
      border: none;
    }

    a.gray-link {
      color: #636b6f;
      text-decoration: none;
    }

    a.gray-link:hover {
      color: #000;
      text-decoration: none;
    }

    label.control-label small {
      color: #BC204B;
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #3F3C38;

      .container .text-muted {
        margin: 19px 0;
        color: #C1C0BA;
      }
    }
  }
}
