
// Color
$primary: #A51140;
$gray-900: rgba(61, 57, 53, 0.8);

// Body
$body-bg: #f4f4f1;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-muted: #C1C0BA;

// Cards
$card-cap-bg: $primary;

// Thumbnails
$thumbnail-bg: #fff;

// Links
$link-hover-decoration: none;