
// Color
$primary: #BC204B;
$gray-900: #3d3935;

// Body
$body-bg: #f4f4f1;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;
$text-muted: #C1C0BA;
$headings-color: #3d3935;

// Cards
$card-cap-bg: $primary;

// Thumbnails
$thumbnail-bg: #fff;

// Links
$link-hover-decoration: none;